<div style="margin-left:250px">
    <div class="login-warp">
        <div class="form-warp" ng-cloak>
            <div class="row">
                <div class="form-top logo">LOGO 登录你的账号</div>
                <div class="form-bottom">
                    <div class="form-group">
                        <label>Email</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control input-lg input-transparent" ng-model="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control input-lg input-transparent" ng-model="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">登录</button>
                    </div>
                    <div class="text-center">
                        <input type="checkbox"/><label></label> <span>记住密码</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>