<div class="container-fluid header-warp" ng-controller="headerController as header">
    <ul class="header-operation header-operation-left">
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="icon-menu"></i>
            </a>
        </li>
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="icon-eye3"></i>
            </a>
        </li>
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="icon-grid"></i>
            </a>
        </li>
    </ul>
    <ul class="header-operation header-operation-right">

    </ul>
</div>