<div class="header-warp" ng-controller="headerController as header">
    <div class="container-fluid">
        <ul class="header-operation header-operation-left">
            <li class="header-operation-btn">
                <a ng-click="">
                    <i class="icon-menu"></i>
                </a>
            </li>
            <li class="header-operation-btn">
                <a ng-click="">
                    <i class="icon-eye3"></i>
                    <span class="remind-number"></span>
                </a>
            </li>
            <li class="header-operation-btn">
                <a ng-click="">
                    <i class="icon-grid"></i>
                </a>
            </li>
        </ul>
        <ul class="header-operation header-operation-right">
            <li class="header-operation-btn">
                <a ng-click="">
                    <i class="icon-head"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
