<div class="container-fluid header-warp" ng-controller="headerController as header">
    <ul class="header-operation header-operation-left">
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
        </li>
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="hbicon hbicon-operation"></i>
            </a>
        </li>
        <li class="header-operation-btn">
            <a ng-click="">
                <i class="glyphicon glyphicon-th-large"></i>
            </a>
        </li>
    </ul>
    <ul class="header-operation header-operation-right">

    </ul>
</div>