input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0;
  opacity: 0;
  position: relative;
  left: 20px;
  top: -2px; }

input[type=checkbox] + label {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url(/assets/images/checkbox_small.png); }

input[type=checkbox]:checked + label {
  background-image: url(/assets/images/checkbox_small_checked.png); }

.hbicon {
  width: 20px;
  height: 20px;
  display: block;
  margin-top: 10px;
  margin-left: 10px; }

.hbicon-operation {
  background-image: url(/assets/images/hb-operation-btn.svg); }

.border-black-gray {
  border: 1px solid rgba(0, 0, 0, 0.08); }

.border-left-black-gray {
  border-left: 1px solid rgba(0, 0, 0, 0.08); }

.border-bottom-black-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.border-top-black-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.08); }

.border-right-black-gray {
  border-right: 1px solid rgba(0, 0, 0, 0.08); }

.rescroll-bar {
  position: fixed;
  top: 40px;
  left: 242px;
  width: 8px;
  height: 100%;
  background: rgba(0, 0, 0, 0.08);
  display: none; }

.rescroll-bar-handle {
  width: 8px;
  min-height: 15px;
  max-height: 100%;
  background: rgba(51, 51, 51, 0.4);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.input-group-addon {
  background-color: rgba(51, 51, 51, 0.3);
  border: 1px solid transparent;
  color: #d2d2d2; }

.input-transparent {
  border: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4); }
  .input-transparent:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

html, body, ui-view, div[ui-view], .container-fluid {
  height: 100%; }

ul, ol {
  list-style-type: none;
  padding: 0; }

.body-login {
  background-color: #154265 20%;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-attachment: fixed, fixed; }

@media (min-width: 300px) {
  .form-warp {
    width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.4);
    margin: auto;
    padding: 0 15px; }
    .form-warp .logo {
      text-align: center; } }

.container-fluid {
  padding: 0;
  margin-left: 250px; }

.login-warp {
  position: relative;
  width: 100%;
  color: #fff;
  margin: 40px 0 0 -125px; }

.form-top {
  padding: 15px 15px 0px 15px; }

.form-bottom {
  padding: 15px; }

.nav-bar {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1; }

.nav-menu {
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  height: 100%;
  background: #2f4050; }
  .nav-menu .logo {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.nav-menu-list:hover.rescroll-bar {
  display: block; }

.nav-menu-list li {
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle; }
  .nav-menu-list li a {
    border-left: 3px solid transparent;
    color: #d2d2d2;
    text-decoration: none;
    display: block;
    cursor: pointer; }
    .nav-menu-list li a:hover {
      color: #fff; }
    .nav-menu-list li a i {
      margin: 0 10px; }
  .nav-menu-list li ul {
    background: rgba(51, 51, 51, 0.3);
    border: rgba(51, 51, 51, 0.4);
    display: none; }
    .nav-menu-list li ul.open {
      display: block; }
    .nav-menu-list li ul li {
      padding-left: 15%; }
      .nav-menu-list li ul li.active {
        background: rgba(51, 51, 51, 0.4); }
        .nav-menu-list li ul li.active a {
          color: #fff; }

.nav-menu-list .active {
  border-color: #337ab7;
  color: #fff; }

.header-warp {
  background: #fff;
  height: 40px;
  position: fixed;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.header-operation li {
  float: left;
  cursor: pointer; }
  .header-operation li:hover {
    background: #f3f3f4; }
  .header-operation li a {
    color: #337ab7;
    position: relative; }
    .header-operation li a i {
      font-size: 14px; }
    .header-operation li a:hover {
      text-decoration: none; }

.header-operation .header-operation-btn {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; }

.header-operation .remind-number {
  width: 10px;
  height: 10px;
  position: absolute;
  display: inherit;
  left: .75em;
  top: -0.3em;
  border-radius: 50%;
  background: #f76549; }

.header-operation-left {
  float: left; }
  .header-operation-left li {
    border-right: 1px solid rgba(0, 0, 0, 0.08); }

.header-operation-right {
  float: right; }
  .header-operation-right li {
    border-left: 1px solid rgba(0, 0, 0, 0.08); }

.view-main {
  padding-top: 40px; }

.view-main-gray {
  background: #f3f3f4; }

.filter-warp {
  height: 100%;
  background: #565656;
  width: 200px;
  position: absolute;
  right: 0;
  top: 100px; }
