input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0;
  opacity: 0;
  position: relative;
  left: 20px;
  top: -2px; }

input[type=checkbox] + label {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url(/assets/images/checkbox_small.png); }

input[type=checkbox]:checked + label {
  background-image: url(/assets/images/checkbox_small_checked.png); }

.input-group-addon {
  background-color: rgba(51, 51, 51, 0.3);
  border: 1px solid transparent;
  color: #d2d2d2; }

.input-transparent {
  border: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4); }
  .input-transparent:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

html, body, ui-view, div[ui-view], .container-fluid {
  height: 100%; }

.body-login {
  background-color: #154265 20%;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-attachment: fixed, fixed; }

@media (min-width: 300px) {
  .form-warp {
    width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.4);
    margin: auto;
    padding: 0 15px; }
    .form-warp .logo {
      text-align: center; } }

.container-fluid {
  padding: 0;
  margin-left: 250px; }

.login-warp {
  position: relative;
  width: 100%;
  color: #fff;
  margin: 100px 0 0 -125px; }

.form-top {
  padding: 15px 15px 0px 15px; }

.form-bottom {
  padding: 15px; }

.nav-menu {
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  height: 100%;
  background: #2f4050; }

.header-warp {
  background: #fff;
  height: 100px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word; }

.view-main {
  padding-top: 100px; }

.view-main-gray {
  background: #f3f3f4; }

.filter-warp {
  height: 100%;
  background: #565656;
  width: 200px;
  position: absolute;
  right: 0;
  top: 100px; }
