input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0;
  opacity: 0;
  position: relative;
  left: 20px;
  top: -2px; }

input[type=checkbox] + label {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url(/assets/images/checkbox_small.png); }

input[type=checkbox]:checked + label {
  background-image: url(/assets/images/checkbox_small_checked.png); }

.hbicon {
  width: 20px;
  height: 20px;
  display: block;
  margin-top: 10px;
  margin-left: 10px; }

.hbicon-operation {
  background-image: url(/assets/images/hb-operation-btn.svg); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?sg2z08");
  src: url("../fonts/icomoon.eot?sg2z08#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?sg2z08") format("truetype"), url("../fonts/icomoon.woff?sg2z08") format("woff"), url("../fonts/icomoon.svg?sg2z08#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye3:before {
  content: "\e000"; }

.icon-paper-clip:before {
  content: "\e001"; }

.icon-mail3:before {
  content: "\e002"; }

.icon-toggle:before {
  content: "\e003"; }

.icon-layout:before {
  content: "\e004"; }

.icon-link2:before {
  content: "\e005"; }

.icon-bell2:before {
  content: "\e006"; }

.icon-lock3:before {
  content: "\e007"; }

.icon-unlock:before {
  content: "\e008"; }

.icon-ribbon:before {
  content: "\e009"; }

.icon-image2:before {
  content: "\e010"; }

.icon-signal:before {
  content: "\e011"; }

.icon-target2:before {
  content: "\e012"; }

.icon-clipboard2:before {
  content: "\e013"; }

.icon-clock4:before {
  content: "\e014"; }

.icon-watch:before {
  content: "\e015"; }

.icon-air-play:before {
  content: "\e016"; }

.icon-camera3:before {
  content: "\e017"; }

.icon-video2:before {
  content: "\e018"; }

.icon-disc:before {
  content: "\e019"; }

.icon-printer2:before {
  content: "\e020"; }

.icon-monitor:before {
  content: "\e021"; }

.icon-server:before {
  content: "\e022"; }

.icon-cog2:before {
  content: "\e023"; }

.icon-heart3:before {
  content: "\e024"; }

.icon-paragraph:before {
  content: "\e025"; }

.icon-align-justify:before {
  content: "\e026"; }

.icon-align-left:before {
  content: "\e027"; }

.icon-align-center:before {
  content: "\e028"; }

.icon-align-right:before {
  content: "\e029"; }

.icon-book2:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-stack3:before {
  content: "\e032"; }

.icon-stack-2:before {
  content: "\e033"; }

.icon-paper:before {
  content: "\e034"; }

.icon-paper-stack:before {
  content: "\e035"; }

.icon-search3:before {
  content: "\e036"; }

.icon-zoom-in2:before {
  content: "\e037"; }

.icon-zoom-out2:before {
  content: "\e038"; }

.icon-reply2:before {
  content: "\e039"; }

.icon-circle-plus:before {
  content: "\e040"; }

.icon-circle-minus:before {
  content: "\e041"; }

.icon-circle-check:before {
  content: "\e042"; }

.icon-circle-cross:before {
  content: "\e043"; }

.icon-square-plus:before {
  content: "\e044"; }

.icon-square-minus:before {
  content: "\e045"; }

.icon-square-check:before {
  content: "\e046"; }

.icon-square-cross:before {
  content: "\e047"; }

.icon-microphone:before {
  content: "\e048"; }

.icon-record:before {
  content: "\e049"; }

.icon-skip-back:before {
  content: "\e050"; }

.icon-rewind:before {
  content: "\e051"; }

.icon-play4:before {
  content: "\e052"; }

.icon-pause3:before {
  content: "\e053"; }

.icon-stop3:before {
  content: "\e054"; }

.icon-fast-forward:before {
  content: "\e055"; }

.icon-skip-forward:before {
  content: "\e056"; }

.icon-shuffle2:before {
  content: "\e057"; }

.icon-repeat:before {
  content: "\e058"; }

.icon-folder2:before {
  content: "\e059"; }

.icon-umbrella:before {
  content: "\e060"; }

.icon-moon:before {
  content: "\e061"; }

.icon-thermometer:before {
  content: "\e062"; }

.icon-drop:before {
  content: "\e063"; }

.icon-sun2:before {
  content: "\e064"; }

.icon-cloud3:before {
  content: "\e065"; }

.icon-cloud-upload2:before {
  content: "\e066"; }

.icon-cloud-download2:before {
  content: "\e067"; }

.icon-upload:before {
  content: "\e068"; }

.icon-download:before {
  content: "\e069"; }

.icon-location4:before {
  content: "\e070"; }

.icon-location-2:before {
  content: "\e071"; }

.icon-map3:before {
  content: "\e072"; }

.icon-battery:before {
  content: "\e073"; }

.icon-head:before {
  content: "\e074"; }

.icon-briefcase2:before {
  content: "\e075"; }

.icon-speech-bubble:before {
  content: "\e076"; }

.icon-anchor:before {
  content: "\e077"; }

.icon-globe:before {
  content: "\e078"; }

.icon-box:before {
  content: "\e079"; }

.icon-reload:before {
  content: "\e080"; }

.icon-share3:before {
  content: "\e081"; }

.icon-marquee:before {
  content: "\e082"; }

.icon-marquee-plus:before {
  content: "\e083"; }

.icon-marquee-minus:before {
  content: "\e084"; }

.icon-tag2:before {
  content: "\e085"; }

.icon-power2:before {
  content: "\e086"; }

.icon-command2:before {
  content: "\e087"; }

.icon-alt:before {
  content: "\e088"; }

.icon-esc:before {
  content: "\e089"; }

.icon-bar-graph:before {
  content: "\e090"; }

.icon-bar-graph-2:before {
  content: "\e091"; }

.icon-pie-graph:before {
  content: "\e092"; }

.icon-star2:before {
  content: "\e093"; }

.icon-arrow-left3:before {
  content: "\e094"; }

.icon-arrow-right3:before {
  content: "\e095"; }

.icon-arrow-up3:before {
  content: "\e096"; }

.icon-arrow-down3:before {
  content: "\e097"; }

.icon-volume:before {
  content: "\e098"; }

.icon-mute:before {
  content: "\e099"; }

.icon-content-right:before {
  content: "\e100"; }

.icon-content-left:before {
  content: "\e101"; }

.icon-grid:before {
  content: "\e102"; }

.icon-grid-2:before {
  content: "\e103"; }

.icon-columns:before {
  content: "\e104"; }

.icon-loader:before {
  content: "\e105"; }

.icon-bag:before {
  content: "\e106"; }

.icon-ban:before {
  content: "\e107"; }

.icon-flag2:before {
  content: "\e108"; }

.icon-trash2:before {
  content: "\e109"; }

.icon-expand:before {
  content: "\e110"; }

.icon-contract:before {
  content: "\e111"; }

.icon-maximize:before {
  content: "\e112"; }

.icon-minimize:before {
  content: "\e113"; }

.icon-plus2:before {
  content: "\e114"; }

.icon-minus2:before {
  content: "\e115"; }

.icon-check:before {
  content: "\e116"; }

.icon-cross2:before {
  content: "\e117"; }

.icon-move:before {
  content: "\e118"; }

.icon-delete:before {
  content: "\e119"; }

.icon-menu5:before {
  content: "\e120"; }

.icon-archive:before {
  content: "\e121"; }

.icon-inbox:before {
  content: "\e122"; }

.icon-outbox:before {
  content: "\e123"; }

.icon-file:before {
  content: "\e124"; }

.icon-file-add:before {
  content: "\e125"; }

.icon-file-subtract:before {
  content: "\e126"; }

.icon-help:before {
  content: "\e127"; }

.icon-open:before {
  content: "\e128"; }

.icon-ellipsis:before {
  content: "\e129"; }

.icon-heart2:before {
  content: "\ea62"; }

.icon-cloud2:before {
  content: "\ea63"; }

.icon-star:before {
  content: "\ea64"; }

.icon-tv:before {
  content: "\ea65"; }

.icon-sound:before {
  content: "\ea66"; }

.icon-video:before {
  content: "\ea67"; }

.icon-trash:before {
  content: "\ea68"; }

.icon-user2:before {
  content: "\ea69"; }

.icon-key3:before {
  content: "\ea6a"; }

.icon-search2:before {
  content: "\ea6b"; }

.icon-settings:before {
  content: "\ea6c"; }

.icon-camera2:before {
  content: "\ea6d"; }

.icon-tag:before {
  content: "\ea6e"; }

.icon-lock2:before {
  content: "\ea6f"; }

.icon-bulb:before {
  content: "\ea70"; }

.icon-pen:before {
  content: "\ea71"; }

.icon-diamond:before {
  content: "\ea72"; }

.icon-display2:before {
  content: "\ea73"; }

.icon-location3:before {
  content: "\ea74"; }

.icon-eye2:before {
  content: "\ea75"; }

.icon-bubble3:before {
  content: "\ea76"; }

.icon-stack2:before {
  content: "\ea77"; }

.icon-cup:before {
  content: "\ea78"; }

.icon-phone2:before {
  content: "\ea79"; }

.icon-news:before {
  content: "\ea7a"; }

.icon-mail2:before {
  content: "\ea7b"; }

.icon-like:before {
  content: "\ea7c"; }

.icon-photo:before {
  content: "\ea7d"; }

.icon-note:before {
  content: "\ea7e"; }

.icon-clock3:before {
  content: "\ea7f"; }

.icon-paperplane:before {
  content: "\ea80"; }

.icon-params:before {
  content: "\ea81"; }

.icon-banknote:before {
  content: "\ea82"; }

.icon-data:before {
  content: "\ea83"; }

.icon-music2:before {
  content: "\ea84"; }

.icon-megaphone:before {
  content: "\ea85"; }

.icon-study:before {
  content: "\ea86"; }

.icon-lab2:before {
  content: "\ea87"; }

.icon-food:before {
  content: "\ea88"; }

.icon-t-shirt:before {
  content: "\ea89"; }

.icon-fire2:before {
  content: "\ea8a"; }

.icon-clip:before {
  content: "\ea8b"; }

.icon-shop:before {
  content: "\ea8c"; }

.icon-calendar2:before {
  content: "\ea8d"; }

.icon-wallet:before {
  content: "\ea8e"; }

.icon-vynil:before {
  content: "\ea8f"; }

.icon-truck2:before {
  content: "\ea90"; }

.icon-world:before {
  content: "\ea91"; }

.icon-home3:before {
  content: "\e900"; }

.icon-office:before {
  content: "\e901"; }

.icon-newspaper:before {
  content: "\e902"; }

.icon-pencil:before {
  content: "\e903"; }

.icon-pencil2:before {
  content: "\e904"; }

.icon-droplet:before {
  content: "\e905"; }

.icon-image:before {
  content: "\e906"; }

.icon-images:before {
  content: "\e907"; }

.icon-camera:before {
  content: "\e908"; }

.icon-headphones:before {
  content: "\e909"; }

.icon-music:before {
  content: "\e90a"; }

.icon-play:before {
  content: "\e90b"; }

.icon-film:before {
  content: "\e90c"; }

.icon-video-camera:before {
  content: "\e90d"; }

.icon-dice:before {
  content: "\e90e"; }

.icon-bullhorn:before {
  content: "\e90f"; }

.icon-connection:before {
  content: "\e910"; }

.icon-podcast:before {
  content: "\e911"; }

.icon-mic:before {
  content: "\e912"; }

.icon-book:before {
  content: "\e913"; }

.icon-books:before {
  content: "\e914"; }

.icon-file-text:before {
  content: "\e915"; }

.icon-profile:before {
  content: "\e916"; }

.icon-file-empty:before {
  content: "\e917"; }

.icon-files-empty:before {
  content: "\e918"; }

.icon-file-text2:before {
  content: "\e919"; }

.icon-file-picture:before {
  content: "\e91a"; }

.icon-file-music:before {
  content: "\e91b"; }

.icon-file-play:before {
  content: "\e91c"; }

.icon-file-video:before {
  content: "\e91d"; }

.icon-file-zip:before {
  content: "\e91e"; }

.icon-copy:before {
  content: "\e91f"; }

.icon-paste:before {
  content: "\e920"; }

.icon-stack:before {
  content: "\e921"; }

.icon-folder:before {
  content: "\e922"; }

.icon-folder-open:before {
  content: "\e923"; }

.icon-folder-plus:before {
  content: "\e924"; }

.icon-folder-minus:before {
  content: "\e925"; }

.icon-folder-download:before {
  content: "\e926"; }

.icon-folder-upload:before {
  content: "\e927"; }

.icon-price-tag:before {
  content: "\e928"; }

.icon-price-tags:before {
  content: "\e929"; }

.icon-barcode:before {
  content: "\e92a"; }

.icon-qrcode:before {
  content: "\e92b"; }

.icon-cart:before {
  content: "\e92c"; }

.icon-coin-dollar:before {
  content: "\e92d"; }

.icon-coin-euro:before {
  content: "\e92e"; }

.icon-coin-pound:before {
  content: "\e92f"; }

.icon-coin-yen:before {
  content: "\e930"; }

.icon-credit-card:before {
  content: "\e931"; }

.icon-calculator:before {
  content: "\e932"; }

.icon-lifebuoy:before {
  content: "\e933"; }

.icon-phone:before {
  content: "\e934"; }

.icon-phone-hang-up:before {
  content: "\e935"; }

.icon-address-book:before {
  content: "\e936"; }

.icon-envelop:before {
  content: "\e937"; }

.icon-pushpin:before {
  content: "\e938"; }

.icon-location:before {
  content: "\e939"; }

.icon-location2:before {
  content: "\e93a"; }

.icon-compass:before {
  content: "\e93b"; }

.icon-compass2:before {
  content: "\e93c"; }

.icon-map:before {
  content: "\e93d"; }

.icon-map2:before {
  content: "\e93e"; }

.icon-history:before {
  content: "\e93f"; }

.icon-clock:before {
  content: "\e940"; }

.icon-clock2:before {
  content: "\e941"; }

.icon-alarm:before {
  content: "\e942"; }

.icon-bell:before {
  content: "\e943"; }

.icon-stopwatch:before {
  content: "\e944"; }

.icon-calendar:before {
  content: "\e945"; }

.icon-printer:before {
  content: "\e946"; }

.icon-keyboard:before {
  content: "\e947"; }

.icon-display:before {
  content: "\e948"; }

.icon-laptop:before {
  content: "\e949"; }

.icon-mobile:before {
  content: "\e94a"; }

.icon-mobile2:before {
  content: "\e94b"; }

.icon-tablet:before {
  content: "\e94c"; }

.icon-drawer:before {
  content: "\e94d"; }

.icon-drawer2:before {
  content: "\e94e"; }

.icon-box-add:before {
  content: "\e94f"; }

.icon-box-remove:before {
  content: "\e950"; }

.icon-floppy-disk:before {
  content: "\e951"; }

.icon-drive:before {
  content: "\e952"; }

.icon-database:before {
  content: "\e953"; }

.icon-undo:before {
  content: "\e954"; }

.icon-redo:before {
  content: "\e955"; }

.icon-undo2:before {
  content: "\e956"; }

.icon-redo2:before {
  content: "\e957"; }

.icon-forward:before {
  content: "\e958"; }

.icon-reply:before {
  content: "\e959"; }

.icon-bubble:before {
  content: "\e95a"; }

.icon-bubbles:before {
  content: "\e95b"; }

.icon-bubbles2:before {
  content: "\e95c"; }

.icon-bubble2:before {
  content: "\e95d"; }

.icon-bubbles3:before {
  content: "\e95e"; }

.icon-bubbles4:before {
  content: "\e95f"; }

.icon-user:before {
  content: "\e960"; }

.icon-users:before {
  content: "\e961"; }

.icon-user-plus:before {
  content: "\e962"; }

.icon-user-minus:before {
  content: "\e963"; }

.icon-user-check:before {
  content: "\e964"; }

.icon-user-tie:before {
  content: "\e965"; }

.icon-quotes-left:before {
  content: "\e966"; }

.icon-quotes-right:before {
  content: "\e967"; }

.icon-hour-glass:before {
  content: "\e968"; }

.icon-spinner:before {
  content: "\e969"; }

.icon-spinner2:before {
  content: "\e96a"; }

.icon-spinner3:before {
  content: "\e96b"; }

.icon-spinner4:before {
  content: "\e96c"; }

.icon-spinner5:before {
  content: "\e96d"; }

.icon-spinner6:before {
  content: "\e96e"; }

.icon-spinner7:before {
  content: "\e96f"; }

.icon-spinner8:before {
  content: "\e970"; }

.icon-spinner9:before {
  content: "\e971"; }

.icon-spinner10:before {
  content: "\e972"; }

.icon-spinner11:before {
  content: "\e973"; }

.icon-binoculars:before {
  content: "\e974"; }

.icon-search:before {
  content: "\e975"; }

.icon-zoom-in:before {
  content: "\e976"; }

.icon-zoom-out:before {
  content: "\e977"; }

.icon-enlarge:before {
  content: "\e978"; }

.icon-shrink:before {
  content: "\e979"; }

.icon-enlarge2:before {
  content: "\e97a"; }

.icon-shrink2:before {
  content: "\e97b"; }

.icon-key:before {
  content: "\e97c"; }

.icon-key2:before {
  content: "\e97d"; }

.icon-lock:before {
  content: "\e97e"; }

.icon-unlocked:before {
  content: "\e97f"; }

.icon-wrench:before {
  content: "\e980"; }

.icon-equalizer:before {
  content: "\e981"; }

.icon-equalizer2:before {
  content: "\e982"; }

.icon-cog:before {
  content: "\e983"; }

.icon-cogs:before {
  content: "\e984"; }

.icon-hammer:before {
  content: "\e985"; }

.icon-magic-wand:before {
  content: "\e986"; }

.icon-aid-kit:before {
  content: "\e987"; }

.icon-bug:before {
  content: "\e988"; }

.icon-pie-chart:before {
  content: "\e989"; }

.icon-stats-dots:before {
  content: "\e98a"; }

.icon-stats-bars:before {
  content: "\e98b"; }

.icon-stats-bars2:before {
  content: "\e98c"; }

.icon-trophy:before {
  content: "\e98d"; }

.icon-gift:before {
  content: "\e98e"; }

.icon-glass:before {
  content: "\e98f"; }

.icon-glass2:before {
  content: "\e990"; }

.icon-mug:before {
  content: "\e991"; }

.icon-spoon-knife:before {
  content: "\e992"; }

.icon-leaf:before {
  content: "\e993"; }

.icon-rocket:before {
  content: "\e994"; }

.icon-meter:before {
  content: "\e995"; }

.icon-meter2:before {
  content: "\e996"; }

.icon-hammer2:before {
  content: "\e997"; }

.icon-fire:before {
  content: "\e998"; }

.icon-lab:before {
  content: "\e999"; }

.icon-magnet:before {
  content: "\e99a"; }

.icon-bin:before {
  content: "\e99b"; }

.icon-bin2:before {
  content: "\e99c"; }

.icon-briefcase:before {
  content: "\e99d"; }

.icon-airplane:before {
  content: "\e99e"; }

.icon-truck:before {
  content: "\e99f"; }

.icon-road:before {
  content: "\e9a0"; }

.icon-accessibility:before {
  content: "\e9a1"; }

.icon-target:before {
  content: "\e9a2"; }

.icon-shield:before {
  content: "\e9a3"; }

.icon-power:before {
  content: "\e9a4"; }

.icon-switch:before {
  content: "\e9a5"; }

.icon-power-cord:before {
  content: "\e9a6"; }

.icon-clipboard:before {
  content: "\e9a7"; }

.icon-list-numbered:before {
  content: "\e9a8"; }

.icon-list:before {
  content: "\e9a9"; }

.icon-list2:before {
  content: "\e9aa"; }

.icon-tree:before {
  content: "\e9ab"; }

.icon-menu:before {
  content: "\e9ac"; }

.icon-menu2:before {
  content: "\e9ad"; }

.icon-menu3:before {
  content: "\e9ae"; }

.icon-menu4:before {
  content: "\e9af"; }

.icon-cloud:before {
  content: "\e9b0"; }

.icon-cloud-download:before {
  content: "\e9b1"; }

.icon-cloud-upload:before {
  content: "\e9b2"; }

.icon-cloud-check:before {
  content: "\e9b3"; }

.icon-download2:before {
  content: "\e9b4"; }

.icon-upload2:before {
  content: "\e9b5"; }

.icon-download3:before {
  content: "\e9b6"; }

.icon-upload3:before {
  content: "\e9b7"; }

.icon-sphere:before {
  content: "\e9b8"; }

.icon-earth:before {
  content: "\e9b9"; }

.icon-link:before {
  content: "\e9ba"; }

.icon-flag:before {
  content: "\e9bb"; }

.icon-attachment:before {
  content: "\e9bc"; }

.icon-eye:before {
  content: "\e9bd"; }

.icon-eye-plus:before {
  content: "\e9be"; }

.icon-eye-minus:before {
  content: "\e9bf"; }

.icon-eye-blocked:before {
  content: "\e9c0"; }

.icon-bookmark:before {
  content: "\e9c1"; }

.icon-bookmarks:before {
  content: "\e9c2"; }

.icon-sun:before {
  content: "\e9c3"; }

.icon-contrast:before {
  content: "\e9c4"; }

.icon-brightness-contrast:before {
  content: "\e9c5"; }

.icon-star-empty:before {
  content: "\e9c6"; }

.icon-star-half:before {
  content: "\e9c7"; }

.icon-star-full:before {
  content: "\e9c8"; }

.icon-heart:before {
  content: "\e9c9"; }

.icon-heart-broken:before {
  content: "\e9ca"; }

.icon-point-up:before {
  content: "\e9cb"; }

.icon-point-right:before {
  content: "\e9cc"; }

.icon-point-down:before {
  content: "\e9cd"; }

.icon-point-left:before {
  content: "\e9ce"; }

.icon-warning:before {
  content: "\e9cf"; }

.icon-notification:before {
  content: "\e9d0"; }

.icon-question:before {
  content: "\e9d1"; }

.icon-plus:before {
  content: "\e9d2"; }

.icon-minus:before {
  content: "\e9d3"; }

.icon-info:before {
  content: "\e9d4"; }

.icon-cancel-circle:before {
  content: "\e9d5"; }

.icon-blocked:before {
  content: "\e9d6"; }

.icon-cross:before {
  content: "\e9d7"; }

.icon-checkmark:before {
  content: "\e9d8"; }

.icon-checkmark2:before {
  content: "\e9d9"; }

.icon-spell-check:before {
  content: "\e9da"; }

.icon-enter:before {
  content: "\e9db"; }

.icon-exit:before {
  content: "\e9dc"; }

.icon-play2:before {
  content: "\e9dd"; }

.icon-pause:before {
  content: "\e9de"; }

.icon-stop:before {
  content: "\e9df"; }

.icon-previous:before {
  content: "\e9e0"; }

.icon-next:before {
  content: "\e9e1"; }

.icon-backward:before {
  content: "\e9e2"; }

.icon-forward2:before {
  content: "\e9e3"; }

.icon-play3:before {
  content: "\e9e4"; }

.icon-pause2:before {
  content: "\e9e5"; }

.icon-stop2:before {
  content: "\e9e6"; }

.icon-backward2:before {
  content: "\e9e7"; }

.icon-forward3:before {
  content: "\e9e8"; }

.icon-first:before {
  content: "\e9e9"; }

.icon-last:before {
  content: "\e9ea"; }

.icon-previous2:before {
  content: "\e9eb"; }

.icon-next2:before {
  content: "\e9ec"; }

.icon-eject:before {
  content: "\e9ed"; }

.icon-volume-high:before {
  content: "\e9ee"; }

.icon-volume-medium:before {
  content: "\e9ef"; }

.icon-volume-low:before {
  content: "\e9f0"; }

.icon-volume-mute:before {
  content: "\e9f1"; }

.icon-volume-mute2:before {
  content: "\e9f2"; }

.icon-volume-increase:before {
  content: "\e9f3"; }

.icon-volume-decrease:before {
  content: "\e9f4"; }

.icon-loop:before {
  content: "\e9f5"; }

.icon-loop2:before {
  content: "\e9f6"; }

.icon-infinite:before {
  content: "\e9f7"; }

.icon-shuffle:before {
  content: "\e9f8"; }

.icon-arrow-up-left:before {
  content: "\e9f9"; }

.icon-arrow-up:before {
  content: "\e9fa"; }

.icon-arrow-up-right:before {
  content: "\e9fb"; }

.icon-arrow-right:before {
  content: "\e9fc"; }

.icon-arrow-down-right:before {
  content: "\e9fd"; }

.icon-arrow-down:before {
  content: "\e9fe"; }

.icon-arrow-down-left:before {
  content: "\e9ff"; }

.icon-arrow-left:before {
  content: "\ea00"; }

.icon-arrow-up-left2:before {
  content: "\ea01"; }

.icon-arrow-up2:before {
  content: "\ea02"; }

.icon-arrow-up-right2:before {
  content: "\ea03"; }

.icon-arrow-right2:before {
  content: "\ea04"; }

.icon-arrow-down-right2:before {
  content: "\ea05"; }

.icon-arrow-down2:before {
  content: "\ea06"; }

.icon-arrow-down-left2:before {
  content: "\ea07"; }

.icon-arrow-left2:before {
  content: "\ea08"; }

.icon-circle-up:before {
  content: "\ea09"; }

.icon-circle-right:before {
  content: "\ea0a"; }

.icon-circle-down:before {
  content: "\ea0b"; }

.icon-circle-left:before {
  content: "\ea0c"; }

.icon-tab:before {
  content: "\ea0d"; }

.icon-move-up:before {
  content: "\ea0e"; }

.icon-move-down:before {
  content: "\ea0f"; }

.icon-sort-alpha-asc:before {
  content: "\ea10"; }

.icon-sort-alpha-desc:before {
  content: "\ea11"; }

.icon-sort-numeric-asc:before {
  content: "\ea12"; }

.icon-sort-numberic-desc:before {
  content: "\ea13"; }

.icon-sort-amount-asc:before {
  content: "\ea14"; }

.icon-sort-amount-desc:before {
  content: "\ea15"; }

.icon-command:before {
  content: "\ea16"; }

.icon-shift:before {
  content: "\ea17"; }

.icon-ctrl:before {
  content: "\ea18"; }

.icon-opt:before {
  content: "\ea19"; }

.icon-checkbox-checked:before {
  content: "\ea1a"; }

.icon-checkbox-unchecked:before {
  content: "\ea1b"; }

.icon-radio-checked:before {
  content: "\ea1c"; }

.icon-radio-checked2:before {
  content: "\ea1d"; }

.icon-radio-unchecked:before {
  content: "\ea1e"; }

.icon-crop:before {
  content: "\ea1f"; }

.icon-make-group:before {
  content: "\ea20"; }

.icon-ungroup:before {
  content: "\ea21"; }

.icon-scissors:before {
  content: "\ea22"; }

.icon-filter:before {
  content: "\ea23"; }

.icon-font:before {
  content: "\ea24"; }

.icon-ligature:before {
  content: "\ea25"; }

.icon-ligature2:before {
  content: "\ea26"; }

.icon-text-height:before {
  content: "\ea27"; }

.icon-text-width:before {
  content: "\ea28"; }

.icon-font-size:before {
  content: "\ea29"; }

.icon-bold:before {
  content: "\ea2a"; }

.icon-underline:before {
  content: "\ea2b"; }

.icon-italic:before {
  content: "\ea2c"; }

.icon-strikethrough:before {
  content: "\ea2d"; }

.icon-omega:before {
  content: "\ea2e"; }

.icon-sigma:before {
  content: "\ea2f"; }

.icon-page-break:before {
  content: "\ea30"; }

.icon-superscript:before {
  content: "\ea31"; }

.icon-subscript:before {
  content: "\ea32"; }

.icon-superscript2:before {
  content: "\ea33"; }

.icon-subscript2:before {
  content: "\ea34"; }

.icon-text-color:before {
  content: "\ea35"; }

.icon-pagebreak:before {
  content: "\ea36"; }

.icon-clear-formatting:before {
  content: "\ea37"; }

.icon-table:before {
  content: "\ea38"; }

.icon-table2:before {
  content: "\ea39"; }

.icon-insert-template:before {
  content: "\ea3a"; }

.icon-pilcrow:before {
  content: "\ea3b"; }

.icon-ltr:before {
  content: "\ea3c"; }

.icon-rtl:before {
  content: "\ea3d"; }

.icon-section:before {
  content: "\ea3e"; }

.icon-paragraph-left:before {
  content: "\ea3f"; }

.icon-paragraph-center:before {
  content: "\ea40"; }

.icon-paragraph-right:before {
  content: "\ea41"; }

.icon-paragraph-justify:before {
  content: "\ea42"; }

.icon-indent-increase:before {
  content: "\ea43"; }

.icon-indent-decrease:before {
  content: "\ea44"; }

.icon-share:before {
  content: "\ea45"; }

.icon-new-tab:before {
  content: "\ea46"; }

.icon-embed:before {
  content: "\ea47"; }

.icon-embed2:before {
  content: "\ea48"; }

.icon-terminal:before {
  content: "\ea49"; }

.icon-share2:before {
  content: "\ea4a"; }

.icon-mail:before {
  content: "\ea4b"; }

.icon-facebook:before {
  content: "\ea4c"; }

.icon-facebook2:before {
  content: "\ea4d"; }

.icon-rss:before {
  content: "\ea4e"; }

.icon-rss2:before {
  content: "\ea4f"; }

.icon-youtube:before {
  content: "\ea50"; }

.icon-steam:before {
  content: "\ea51"; }

.icon-steam2:before {
  content: "\ea52"; }

.icon-onedrive:before {
  content: "\ea53"; }

.icon-github:before {
  content: "\ea54"; }

.icon-tux:before {
  content: "\ea55"; }

.icon-appleinc:before {
  content: "\ea56"; }

.icon-android:before {
  content: "\ea57"; }

.icon-windows8:before {
  content: "\ea58"; }

.icon-chrome:before {
  content: "\ea59"; }

.icon-IE:before {
  content: "\ea5a"; }

.icon-file-pdf:before {
  content: "\ea5b"; }

.icon-file-word:before {
  content: "\ea5c"; }

.icon-file-excel:before {
  content: "\ea5d"; }

.icon-libreoffice:before {
  content: "\ea5e"; }

.icon-html-five:before {
  content: "\ea5f"; }

.icon-html-five2:before {
  content: "\ea60"; }

.icon-git:before {
  content: "\ea61"; }

.border-black-gray {
  border: 1px solid rgba(0, 0, 0, 0.08); }

.border-left-black-gray {
  border-left: 1px solid rgba(0, 0, 0, 0.08); }

.border-bottom-black-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.border-top-black-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.08); }

.border-right-black-gray {
  border-right: 1px solid rgba(0, 0, 0, 0.08); }

.rescroll-bar {
  position: fixed;
  top: 40px;
  left: 242px;
  width: 8px;
  height: 100%;
  background: rgba(0, 0, 0, 0.08);
  display: none; }

.rescroll-bar-handle {
  width: 8px;
  min-height: 15px;
  max-height: 100%;
  background: rgba(51, 51, 51, 0.4);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.input-group-addon {
  background-color: rgba(51, 51, 51, 0.3);
  border: 1px solid transparent;
  color: #d2d2d2; }

.input-transparent {
  border: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4); }
  .input-transparent:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

html, body, ui-view, div[ui-view], .container-fluid {
  height: 100%; }

ul, ol {
  list-style-type: none;
  padding: 0; }

.body-login {
  background-color: #154265 20%;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background-attachment: fixed, fixed; }

@media (min-width: 300px) {
  .form-warp {
    width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.4);
    margin: auto;
    padding: 0 15px; }
    .form-warp .logo {
      text-align: center; } }

.container-fluid {
  padding: 0;
  margin-left: 250px; }

.login-warp {
  position: relative;
  width: 100%;
  color: #fff;
  margin: 40px 0 0 -125px; }

.form-top {
  padding: 15px 15px 0px 15px; }

.form-bottom {
  padding: 15px; }

.nav-bar {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1; }

.nav-menu {
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  height: 100%;
  background: #2f4050; }
  .nav-menu .logo {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.nav-menu-list:hover.rescroll-bar {
  display: block; }

.nav-menu-list li {
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-left: 3px solid transparent; }
  .nav-menu-list li a {
    color: #d2d2d2;
    text-decoration: none;
    display: block;
    cursor: pointer; }
    .nav-menu-list li a:hover {
      color: #fff; }
    .nav-menu-list li a i {
      margin: 0 10px; }

.nav-menu-list .active {
  border-color: #337ab7; }
  .nav-menu-list .active a {
    color: #fff; }

.header-warp {
  background: #fff;
  height: 40px;
  position: fixed;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.header-operation li {
  float: left;
  cursor: pointer; }
  .header-operation li:hover {
    background: #f3f3f4; }
  .header-operation li a {
    font-size: 16px;
    color: #337ab7;
    position: relative; }
    .header-operation li a:hover {
      text-decoration: none; }

.header-operation .header-operation-btn {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; }

.header-operation .remind-number {
  width: 10px;
  height: 10px;
  position: absolute;
  display: inherit;
  left: .75em;
  top: -0.3em;
  border-radius: 50%;
  background: #f76549; }

.header-operation-left {
  float: left; }
  .header-operation-left li {
    border-right: 1px solid rgba(0, 0, 0, 0.08); }

.header-operation-right {
  float: right; }
  .header-operation-right li {
    border-left: 1px solid rgba(0, 0, 0, 0.08); }

.view-main {
  padding-top: 40px; }

.view-main-gray {
  background: #f3f3f4; }

.filter-warp {
  height: 100%;
  background: #565656;
  width: 200px;
  position: absolute;
  right: 0;
  top: 100px; }
